:root {
    --light-yellow: #f1fe52;
    --main-color: linear-gradient(0.25turn, #380E56, #922396);
    --bg-primary-blue-sw: #7af;
    --bg-primary-blue-lw: #97c;
}

@media only screen and (min-width: 768) {
body {
    width       : 100%;
    height      : 2000px;
    /* height: 100%; */
    /* background  : linear-gradient(0.25turn, #380E56, #922396); */
    background  : var(--main-color);
}
}
.p1 > div {
    margin-left : 100px;
}
/* navbar */
.nav {

    list-style-type : none;
    overflow        : hidden;
}
.nav > li {
    float : left;
    margin:0px 30px;
}
a {
    display         : block;
    text-align      : center;
    text-decoration : none;
    text-transform  : uppercase;
    color           : white;
    padding         : 10px;
}
.nav > li > a:hover {
    background-color: var(--light-yellow);
    /* background-color: whitesmoke; */
    color           : black;
}

/* main */
.content {
    display : flex;
}
.image > img {
    width   :60%;
    height  : 80%;
}
.main {
    padding-top : 10%;
    margin-right: 10%;
}
.main_header > h1 {
    text-transform  :uppercase;
    color           : white;
    font-weight     : normal;
}
.buttons > button {
    background      : none;
    padding         : 5px 15px;
    color           : rgb(232, 140, 198);
    border          : rgb(232, 140, 198) solid 1px;
    border-radius   : 15px;
}
.buttons > button:hover {
    background-color: #ff72bf;
    color           : white;
    border          : #ff72bf solid 1px;
}

/* help icon */
.help {
    position: fixed;
    bottom  : 0;
}
.help > button {
    display         : block;
    width           : 50px;
    height          : 50px;
    background-color: green;
    border          : white solid 2px;
    border-radius   : 50%;
}
.help > button:hover {
    background-color : yellowgreen;
}